<div><ion-card>
  <ion-card-header>
    <ion-text
      ><h5>Birthdays</h5>
      <ion-icon name="information"></ion-icon
    ></ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. Shivam</h6>
    </ion-text>
    <p>Friend</p>
    <ion-text color="dark">
      <h6>2. lorem</h6>
    </ion-text>
    <p>ipsem</p>
    <ion-text color="dark">
      <h6>3. john</h6>
    </ion-text>
    <p>Birthday tomarrow</p>
    <ion-button color="medium" size="small" fill="clear"
      >View all recommendations
      <ion-icon
        class="ion-padding"
        color="dark"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card></div>

<div><ion-card>
  <ion-card-header>
    <ion-text
      ><h5>Contacts</h5>
      <ion-icon name="information"></ion-icon
    ></ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. Shivam</h6>
    </ion-text>
    <p>Friend</p>
    <ion-text color="dark">
      <h6>2. lorem</h6>
    </ion-text>
    <p>ipsem</p>
    <ion-text color="dark">
      <h6>3. john</h6>
    </ion-text>
    <p>Birthday tomarrow</p>
    
  </ion-card-content>
</ion-card></div>