<ion-card>
  <div [style.background]="bannerColors.colorTwo" class="backdrop">
    <div
      [style.background]="bannerColors.colorOne"
      class="background-one"
    ></div>
    <div [style.background]="bannerColors.colorOne" class="half-ellipse"></div>
    <div
      [style.background]="bannerColors.colorTwo"
      class="background-two"
    ></div>
    <div
      [style.background]="bannerColors.colorThree"
      class="background-three"
    ></div>
  </div>
  <ion-card-header class="ion-text-center">
    <ion-avatar class="ion-margin-auto">
      <ion-img src="../../../../assets/profile-pic.jpg"></ion-img>
    </ion-avatar>
    
    
  </ion-card-header>

  <div class="item-divider"></div>

  <div>
    <div><ion-col size="auto">
      <ion-icon name="people"></ion-icon>
      <span>Friends</span>
    </ion-col></div>
    <br>
    <div>
      <ion-col size="auto">
        <ion-icon name="apps-outline"></ion-icon>
        <span>Menu</span>
      </ion-col>
    </div>
   <br>
    <div> <ion-col size="auto">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span>Messaging</span>
    </ion-col></div>
    <br>
    <div> <ion-col size="auto">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span>Messaging</span>
    </ion-col></div>
  
    <br>
    <div> <ion-col size="auto">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span>Messaging</span>
    </ion-col></div>
    <br>
    <div> <ion-col size="auto">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span>Messaging</span>
    </ion-col></div>
  </div>
</ion-card>